.ant-modal-footer {
    padding: unset;
}

.ant-col {
    .btn_add_up_stu {
        float: right;
    }
}

.ant-form-item-control {
    max-width: 100%;
}

.ant-modal-body {
    padding: 24px 24px 16px 24px;
}

.ant-form-item {
    margin-bottom: 10px;
}

.icon-handle {
    font-size: 20px;
    margin-right: 14px;
}

.ant-radio-wrapper {
    margin-right: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

.modal_display_info_stu_list {
    width: 70%;
}

.modal_display_info_stu {
    display: flex;
    .modal_display_info_stu_item {
        display: flex;
        border-bottom: 1px solid #e5e5e5;
        margin-top: 10px;
        &:last-child {
            border: none;
        }
    }
    .modal_display_info_stu_item_value {
        font-weight: 600;
    }
    .modal_display_info_stu_item_left {
        width: 70%;
    }
    .modal_display_info_stu_item_right {
        width: 30%;
    }
}

.card_display_info_stu {
    // display: flex;

    .card_display_info_stu_item {
        display: flex;
    }
    .card_display_info_stu_item_value {
        font-weight: 600;
    }
    .card_display_info_stu_item_value {
        margin-left: 6px;
    }
}

.ant-avatar .ant-avatar-circle {
    margin: 0 auto;
    display: block;
}
.drop-down {
    position: relative;
    top: 0;
    right: 0;
    left: 94%;
    font-size: 20px;
}

.ant-layout-header {
    height: unset;
}

.anticon[tabindex] {
    width: 30px;
    height: 30px;
}

.ant-card-body {
    padding: 16px 24px;
}

.modal_display_info_stu_list {
    margin-left: 40px;
}

.modal_display_info_stu_avatar {
    text-align: center;
    width: 30%;
    .modal_display_info_stu_name {
        text-align: center;
        p {
            font-weight: 600;
            margin-top: 6px;
            margin-bottom: 0;
        }
    }
}