@import "./Media.scss";
@import "./ModalDisplayInforStudent.scss";
$color-primary: #9bd9f2;
$color-dark: #e78539;
$color-btn: #e78539;
$color-btn-light: #f7a86c;
body {
    background-image: url("../../public/background.png");
    background-repeat: repeat-y;
    background-size: cover;
    color: #172b4d;
    width: 100vw;
}

#root {
    overflow: hidden;
}

.ant-layout {
    min-height: 100vh;
}

.site-layout {
    .ant-layout-content {
        @include mobile {
            padding: 0 0px !important;
            .site-card-wrapper {
                padding: 0 12px;
            }
        }

        .input-sort,
        .groupsBtn-tranfer-view,
        .site-card-wrapper {
            padding: 0 24px;
        }

        .input-sort,
        .groupsBtn-tranfer-view {
            @include mobile {
                padding: 0 0;
            }
        }

        .site-card-wrapper {
            @include mobile {
                padding: 0 12px;
            }
        }

        .groupsBtn-tranfer-view {
            margin: 12px 0;
            @include mobile {
                margin: 12px;
            }
        }

        .ant-table-wrapper {
            overflow-x: auto;
            background-color: #fff;
            margin: 0 12px;
        }
        .input-sort {
            margin: 12px 0;
            display: flex;
            overflow: hidden;
            .ant-select:not(.ant-select-customize-input) .ant-select-selector {
                border-radius: 4px;
                border: none;
                outline: none;
                overflow: hidden;
            }
            .input-search {
                width: 20%;
            }
            .input-groups-select {
                width: 40%;
                .input-Select {
                    margin-left: 20px;
                    width: 40%;
                }
            }

            @include mobile {
                margin: 12px;
                flex-direction: column;
                .input-search {
                    width: 88%;
                }
                .input-groups-select {
                    width: 88%;
                    .input-Select {
                        margin-left: 0;
                        width: 100%;
                        margin-top: 12px;
                    }
                }
            }
        }
        .site-layout-background {
            background: #89cfe3;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 24px;
            margin: unset;
            @include mobile {
                padding: 8px 12px;
                justify-content: space-between;
                align-items: center;
            }
        }
        .add-student {
            background-color: $color-btn;
            color: #fff;
            border: none;
            &:hover {
                background-color: $color-btn-light;
            }
        }

        .add-student:focus {
            border: 1px solid hsla(0, 0%, 100%, 0.4);
        }

        h3.ant-typography {
            @include mobile {
                font-size: 13px;
                margin-bottom: 0 !important;
                text-align: center;
            }
        }
    }
}

.logo {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    .anticon {
        cursor: pointer;
    }

    p {
        padding: 12px 0;
        font-size: 16px;
    }
}

.ant-btn-primary {
    background-color: $color-btn;
    border-radius: 2px;
    border: none;
    border-radius: 4px;
    &:hover,
    &:focus {
        background-color: $color-btn-light;
    }
}

.ant-upload.ant-upload-select-picture-card {
    border: 3px solid #ffff;
    background-color: $color-dark;
    cursor: pointer;
    width: 50px;
    text-align: center;
    padding: 2px;
    border-radius: 2px;
    position: relative;
    top: -30px;
    left: 48%;
    height: 32px;

    @include mobile {
        left: 14%;
    }
    &:hover {
        border: 3px solid #ffff;
    }
    .editImg {
        color: #fff;
    }
    .ant-upload-list-item-name {
        color: #000;
    }
    .ant-upload-list-picture-card-container {
        display: none;
    }
}
